@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: url('../images/cushuro.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
}

.sidebar {
  background-color: #0a192fb6;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 25vw;
  padding: 40px 20px;
  position: fixed;
}

/*======================== INFO SIDEBAR **Perfil ========================*/
div.sidebar__info {
  text-align: center;
  margin-bottom: 50px;
}

.sidebar__info.avatar {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.sidebar__info.image {
  width: 100%;
}

.sidebar__info.name {
  margin: 15px 0 8px;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
}

.sidebar__info.job {
  font-size: 1rem;
  font-weight: 300;
}

.sidebar a {
  color: rgba(255, 255, 255, 0.829);
  text-decoration: none;
}

/*======================== NAV SIDEBAR ========================*/
.sidebar__nav a {
  color: rgba(204, 204, 204, 0.829);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.sidebar__nav a:hover {
  font-weight: 300;
  color: #64ffda;
}

i:hover {
  color: #64ffda;
}

ul.sidebar__nav a:hover::after {
  content: "⟩";
  margin-left: 5px;
  font-weight: 500;
}

.sidebar ul {
  list-style: none;
  padding: 0px 25px;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

ul.principal li {
  position: relative;
}

li.current::after {
  content: '◀';
  position: absolute;
  color: #64ffda;
  right: -47px;
  font-size: 1.1rem;
}

.current a {
  color: #64ffda;
  font-weight: 300;
}

.current a::after {
  content: "⟩";
  margin-left: 5px;
  font-weight: 500;
}

.sidebar__nav.contact {
  padding: 0px 25px;
}

.sidebar__nav.touch a {
  font-size: 0.7rem;
}

.sidebar__nav.social a {
  display: inline-block;
  margin-right: 8px;
  margin-top: 15px;
  color: rgba(211, 211, 211, 0.685);
  font-size: 0.65rem;
}

/*======================== MAIN ========================*/
.main {
  width: 75vw;
  margin-left: 25vw;
}

/*================= MAIN - LANDING PAGE =================*/
.landing {
  padding: 0px 90px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__tittle {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
  line-height: 4.5rem;
}

.landing__description {
  font-size: 2.2rem;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
  line-height: 4.5rem;
  margin-bottom: 100px;
}

.landing__description span {
  font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  16% {
    opacity: 0;
  }

  84% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.landing__buttons {
  animation: fadeIn 2s;
}

.landing__buttons a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 20px;
  border: solid white 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
}

.landing__buttons a:hover {
  box-shadow: inset 0 0 100px 100px #64ffdb13;
}

/*======================== MAIN ** PORTOFOLIO ========================*/
.portofolio {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 40px;
  min-height: 100vh;
  color: #eee;
  font-weight: 300;
  line-height: 1.5rem;
}

.portofolio__intro {
  padding: 40px 0 0px 15px;
}

.intro__title {
  font-size: 2.25rem;
  margin-bottom: 25px;
  font-weight: 400;
  padding-top: 30px;
}

.portofolio__intro span {
  font-weight: bold;
}

.project__overview {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 20px 0px 15px;
  line-height: 2rem;
  color: #fff;
  margin-left: 15px;
}

.project__section,
.portofolio__intro {
  background-color: rgba(68, 68, 68, 0.671);
  padding-top: 20px;
}

/* PORTOFOLIO INDIVIDUAL PROJECTS */

/* Project left */
.project {
  display: flex;
  color: #fff;
  background-color: #0a192f;
  align-items: center;
  margin: 0 0 0 40px;
  padding: 50px 1px 40px 40px;
  border-bottom: #112240 solid 2px;
}

.project__class {
  font-weight: 400;
  font-size: 0.7rem;
  color: #64ffda;
  letter-spacing: 1px;
}

.project__title {
  font-weight: 500;
  font-size: 1.4rem
}

.project__description {
  background-color: #112240;
  color: #fff;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 300;
  position: relative;
  width: 110%;
}

.project__technologies {
  display: flex;
  list-style: none;
}

.project__tech {
  padding: 0 15px 0 0;
  font-weight: 300;
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.project__link {
  color: #fff;
  margin-right: 10px;
}

.project__link i:hover {
  color: #64ffda;
}

/* Project right */

.project.right {
  flex-direction: row-reverse;
  color: #fff;
  text-align: right;
  margin: 0 0 0 40px;
  padding: 50px 40px 40px 1px;
}


.project.right .project__description {
  right: 10%;
  align-self: flex-start;
}

.project.right .project__technologies {
  justify-content: flex-end;
}

.project.right .project__tech {
  padding: 0 0 0 15px;
}